/**
 * Доделать адаптив
 *
 * @format
 */

@media only screen and (max-width: 1442px) {
  .header {
    padding: 2rem 1%;
  }

  .link {
    margin: 0 12px 0 0;
  }
}

@media only screen and (max-width: 1244px) {
  .about {
    gap: 100px;
  }

  .navbar .number-phone {
    width: 146px;
    font-size: 13px;
    margin: 0px 2rem 0 2rem;
  }

  .header .logo {
    width: 200px;
    height: 50px;
  }

  .link {
    font-size: 13px;
  }

  .letter {
    flex-direction: column;
    align-items: center;
    gap: 25px;
  }
}

@media only screen and (max-width: 1088px) {
  .about {
    gap: 35px;
  }

  .about__text-content {
    width: 442px;
  }

  .about__title {
    font-size: 55px;
  }

  .about__text-content p {
    font-size: 15px;
  }
}

@media only screen and (max-width: 1000px) {
  .download-certificate {
    margin: 50px 0 0 0;
  }
}

@media only screen and (max-width: 989px) {
  .about__text-content {
    display: flex;
    justify-content: center;
  }

  .about__text-content .condition {
    margin-top: 30px;
  }
}

@media only screen and (max-width: 960px) {
  .header .logo {
    width: 153px;
    height: 38px;
  }
}

@media only screen and (max-width: 912px) {
  .navbar .number-phone {
    margin: 0;
  }
}

@media only screen and (max-width: 900px) {
  .decore-rectangle {
    display: none;
  }

  .alips {
    display: none;
  }
}

@media only screen and (max-width: 848px) {
  .link {
    font-size: 11px;
  }

  .navbar .number-phone {
    font-size: 11px;
    width: 110px;
  }
}

@media only screen and (max-width: 769px) {
  .link {
    font-size: 10px;
  }

  .navbar .number-phone {
    font-size: 10px;
    width: 100px;
    height: 28px;
  }
}

@media only screen and (max-width: 723px) {
  .navbar .number-phone {
    border-inline-width: 7px;
    font-weight: 500;
    font-size: 14px;
    width: 220px;
    height: 34px;
  }

  .header-size-s {
    background: #bf9004;
  }

  .navigation {
    display: none;
  }

  .navbar__button-burger {
    top: 20px;
    right: 30px;
    z-index: 3;
    display: block;
    position: fixed;
  }

  .header {
    width: 100%;
    padding: 20px 3%;
  }

  .logo {
    margin: 0 0 0 20px;
  }

  .navbar .navigation {
    display: flex;
    flex-direction: column;
    align-content: center;
    padding: 30px 30px 0px 30px;
    gap: 20px;
    position: fixed;
    top: 0;
    right: -100%; /* Меню скрыто справа за пределами видимости */
    bottom: 0;
    background-color: #ae9b00b8;
    z-index: 3;
    width: 80%; /* Ширина меню, которая будет видимой после анимации */
    max-width: 300px; /* Максимальная ширина меню */
    transition: right 0.3s; /* CSS-переход для анимации */
  }

  .navbar.open .navigation {
    right: 0;
  }

  .link {
    display: flex;
    justify-content: center;
    align-content: center;
    font-size: 20px;
    margin: 20px 0 0 0;
    background: aliceblue;
    text-align: center;
    border-radius: 10px;
    width: 100%;
    min-height: 40px;
    height: auto;
  }

  .link:hover {
    color: initial;
  }

  .link-work {
    margin: 60px 0 0 0;
  }
}

@media only screen and (max-width: 550px) {
  .letter_preview .food {
    width: 440px;
    min-height: 523px;
    height: auto;
  }

  .sertificate-preview__image {
    width: 385px;
    height: auto;
  }
}

@media only screen and (max-width: 500px) {
  .header {
    padding: 12px 0%;
  }

  .header .logo {
    width: 125px;
    height: 31px;
  }

  .about__text-content {
    width: 350px;
  }

  .full-size {
    width: 100%;
  }

  .about__text-content h1 {
    font-size: 40px;
  }

  .food {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .food__img {
    width: 350px;
  }

  .about__send-sertificate .about__buttons {
    width: 435px;
    height: auto;
    border-radius: 36px;
  }

  .data-toggle {
    margin-bottom: 25px;
    width: 100%;
  }

  .certificate {
    margin-top: 70px;
  }

  .certificate .left h1 {
    display: flex;
    justify-content: center;
    font-size: 30px;
  }

  .img_decor {
    display: none;
  }

  .why-we {
    margin-top: 70px;
  }

  .footer {
    height: 25rem;
  }

  .terms-use__instructions {
    width: 415px;
  }

  .conditions__terms-use {
    width: 413px;
  }

  .information_user {
    width: 420px;
    max-height: 920px;
  }
  
  .block_frame {
    min-height: 48px;
  }

  .send_pay_tw-size-s {
    width: 160px;
  }

  .quantity-gift {
    padding: 0;
  }

  .send {
    width: 100%;
  }

  .send-gift, .back-btn__send_gift {
    width: 100%;
  }

  .btn-send-gift {
    gap: 20px;
  }
}

@media only screen and (max-width: 440px) {
  .about,
  .food__img,
  .certificate,
  .conditions,
  .why-we {
    width: 320px;
  }

  .letter__title {
    text-align: center;
  }

  .about__send-sertificate .about__buttons {
    width: 320px;
    height: auto;
  }

  .work {
    width: 320px;
    padding: 40px 0 0 0;
    margin: 0;
  }

  .image__certificate {
    width: 270px;
  }

  .download-certificate {
    width: 320px;
    height: 373px;
    padding: 25px;
  }

  .conditions .terms-use__instructions {
    width: 300px;
    height: auto;
    padding: 14px;
    margin: 30px 0 0 0;
  }

  .work .decore-rectangle {
    display: none;
  }

  .letter_preview .food {
    width: 320px;
  }

  .sertificate-preview__image {
    width: 260px;
  }

  .information_user {
    width: 320px;
  }

  .send_pay_tw-size-s {
    width: 100%;
  }

  .counting {
    gap: 10px;
  }

  .block_frame__delete-size-s {
    display: none;
  }

  .main {
    display: flex;
    justify-content: center;
  }

  .letter_preview {
    display: flex;
    justify-content: center;
  }
}

@media only screen and (max-width: 367px) {
  .link {
    text-align: center;
  }
}
